.main{
    height: 100vh;
    background-color: #fff;

}
.topic{
    text-align: center;
    margin-top: 10px;
}
.role-privileges{
    padding: 20px;
}
.privileges-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
}
.privilege{
    background-color: #efefef;
    padding: 5px 12px;
    border-radius: 10px;
}
.employee-table{
    margin: 10px auto;
}
.employee-table thead{
    background-color: #ffcc00;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.employee-table thead td{
    padding: 6px 10px;
    text-align: center;
}
.employee-table tbody td{
    padding: 6px 10px;
    text-align: center;
}
.employee-table tbody tr:nth-child(even){
    background-color: #efefef;
}
.employee-table tbody tr {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.employee-table tbody tr:nth-child(odd){
    background-color: #fff;
}
.employee-table tbody td button{
    background-color: #ffcc00;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 12px;
}
.user-privilege-form{
    width: 400px;
    position: absolute;
    top: 250px;
    left: 58%;
    height: 200px;
    border: 2px solid #dedede;
    text-align: center;
    padding: 50px;
    z-index: 999;
    background-color: #fff;
    
    border-radius: 10px;
}
.inactive{
    background-color: rgba(0,0,0,0.9);
    /* background-color: rgba(255, 255, 255, 0.1); */
    z-index: -1;
    pointer-events: none;
}